<header>
  <nav class="navbar">
    <div class="logo">WHITE <span>COLLARS</span></div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/companies">Companies</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <% if (user) { %>
      <div class="user-menu">
        <span>Welcome, <%= user.name %>!</span>
        <a href="/auth/logout" class="login-btn">Logout</a>
      </div>
    <% } else { %>
      <a href="/auth/signin" class="login-btn">Sign In</a>
    <% } %>
  </nav>
</header>
